* {
    font-family: "Yekan";
    font-weight: bold;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftSide {
    width: 50%;
    height: 100vh;
    background: url("./images/SL_0212121_40670_54.jpg") no-repeat center / cover;
    color: #fff;
    border: 2px solid lightgray;
    outline: 2px solid lightgray;
    font-size: 3rem;
    text-align: center;
    pointer-events: none;
    transition: all 1s ease;
}
.rightSide {
    width: 50%;
    height: 100vh;
    background: url('./images/2352065.jpg') no-repeat center / cover;
    color: #fff;
    border: 2px solid lightgray;
    outline: 2px solid lightgray;
    font-size: 3rem;
    text-align: center;
    pointer-events: none;
    transition: all 1s ease;
}
.leftSide a,
.rightSide a{
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 2px 45px;
    margin: 30px auto;
    pointer-events: auto;
    cursor: pointer;
    font-size: 1.5rem;
}
.leftSide h3,
.rightSide h3 {
    margin: 20px auto;
}
.leftSide:hover,
.rightSide:hover {
        width: 90%;
}


@media (max-width: 768px) {
    .container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .leftSide {
        width: 100%;
        height: 50vh;
    }

    .rightSide {
        width: 100%;
        height: 50vh;
    }
}